<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Error 500</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <style>
    .primary-color {
      background-color: rgb(58, 70, 86);
      color: #fff;
    }
    .primary-color-text {
      color: rgb(58, 70, 86);
    }
    .left {
      text-align: left;
    }
    .panel {
      padding: 1rem;
    }
  </style>
</head>
<body>
  <div class="row">
    <div class="col s12 m10 offset-m1 center-align primary-color-text">
      <h1>Se ha producido un error</h1>

      <h4>Example.com</h4>

      <div class="primary-color white-text panel left">
        Se ha enviado un email a la administracion informando del error, si el problema continua,
        por favor, pornte en contacto con nosotros a traves del email
        <code>webamster@example.com</code>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>
