<footer class="footer">
  <section class="container">
    <section class="row">
      <div class="col-lg-6">
        <h5>Get started</h5>
        <ul class="list-unstyled">
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">Lorem ipsum</a></li>
        </ul>
      </div>
      <div class="col-lg-6">
        <h5>About us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      </div>
    </section>
  </section>
</footer>
