{% load staticfiles %}

<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="{% url 'home_page' %}">
    <img class="d-inline-block align-top"
         src="{% static 'logo.png' %}"
         alt="{{ SITE.name }} Logo"
         height="30">
    {{ SITE.name }}
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="{% url 'accounts:profile' %}"
             id="navbarDropdownMenuLink"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false"
          >
            <i class="material-icons">person</i> {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'accounts:profile' %}">
              <i class="material-icons">person</i> Mi cuenta
            </a>
            <a class="dropdown-item" href="{% url 'authentication:logout' %}">
              <i class="material-icons">exit_to_app</i> Terminar sesión
            </a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'authentication:register' %}">
            <i class="material-icons">person_add</i> Registro
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'authentication:login' %}">
            <i class="material-icons">person</i> Iniciar sesión
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
