{% load staticfiles %}
{% load i18n %}

<header id="header">
  <div id="navbar-main" class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="{% url 'home_page' %}" class="brand-logo">
          {{ SITE.name }}
        </a>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>

        <ul class="right">
          <li id="navbar-search-button">
            <a href="#"><i class="material-icons">search</i></a>
          </li>
        </ul>

        <ul class="right hide-on-med-and-down">
          <li><a href="/admin/">Admin</a></li>

          {# Usuarios logueados #}
          {% if user.is_authenticated %}
            <li><a href="{% url 'authentication:logout' %}">{% trans 'Terminar sesión' %}</a></li>
          {% else %}
            <li><a href="{% url 'authentication:login' %}">{% trans 'Iniciar sesión' %}</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <nav id="navbar-search-field" class="hide">
      <div class="nav-wrapper">
        <form method="get" action="">
          <div class="input-field">
            <input id="q" name="q"  type="search" placeholder="{% trans 'Intruduce texto y pulsa enter' %}">
            <label class="navbar-search-field-icon" for="q"><i class="material-icons prefix">search</i></label>
            <i id="navbar-search-field-close" class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>
</header>

<!-- SideNav lateral en <= medium -->
<ul id="slide-out" class="side-nav">
  {# Usuarios logueados #}
  {% if user.is_authenticated %}
    <li><a href="{% url 'authentication:logout' %}">{% trans 'Terminar sesión' %}</a></li>
  {% else %}
    <li><a href="{% url 'authentication:login' %}">{% trans 'Iniciar sesión' %}</a></li>
  {% endif %}
</ul><!-- end SideNav lateral en <= medium -->
