body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 54px;
}

main {
  flex: 1 0 auto;
}

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.cursor-pointer {
  cursor: pointer;
}

@include media-breakpoint-down(xs) {
  // Eliminar paddings izquierdo y derecho en xs.
  .px-xs-none {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
