html { color: color("grey", "darken-1"); }

// Margins
.margin { margin: 1rem !important; }
.margin-top { margin-top: 1rem !important; }
.margin-left { margin-left: 1rem !important; }
.margin-right { margin-right: 1rem !important; }
.margin-bottom { margin-bottom: 1rem !important; }
