// Waves primary
.waves-effect.waves-primary .waves-ripple {
  background-color: $primary-color;
}

// Añade 1rem en margin-top por si se montan que tengan un poco
// de separación.
.btn-group {
  a,
  button,
  input[type="submit"] {
    margin-top: 1rem;
  }
}

@media #{$small-and-down} {
  .btn-group {
    text-align: center;
  }
}

.btn {
  font-size: $button-font-size;
  text-transform: inherit !important;

  &.btn-capitalize {
    text-transform: capitalize;
  }

  &.btn-ucfirst {
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
      vertical-align: middle;
    }
  }

  &.btn-lower {
    text-transform: lowercase;
  }

  &.btn-unformat {
    text-transform: inherit;
  }

  &.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
  }

  // Bloque para cualquier tamaño.
  &.btn-block {
    display: block;
    width: 100%;
  }

  // Bloque para <= small.
  &.btn-small-block {
    @media #{$small-and-down} {
      display: block;
      width: 100%;
    }
  }

  // Bloque para <= medium.
  &.btn-medium-block {
    @media #{$medium-and-down} {
      display: block;
      width: 100%;
    }
  }

  &.btn-ligth {
    @include button-variat($ligth-color, #000);
  }

  &.btn-primary {
    @include button-variat($secondary-color);
  }

  &.btn-success {
    @include button-variat($success-color);
  }

  &.btn-info {
    @include button-variat($info-color);
  }

  &.btn-warning {
    @include button-variat($warning-color);
  }

  &.btn-error {
    @include button-variat($error-color);
  }

  &.btn-flat-ligth {
    @include button-flat-variat($ligth-color, #000);
  }

  &.btn-flat-primary {
    @include button-flat-variat($secondary-color);
  }

  &.btn-flat-success {
    @include button-flat-variat($success-color);
  }

  &.btn-flat-info {
    @include button-flat-variat($info-color);
  }

  &.btn-flat-warning {
    @include button-flat-variat($warning-color);
  }

  &.btn-flat-error {
    @include button-flat-variat($error-color);
  }

  &.btn-outline-ligth {
    @include button-outline-variat($ligth-color, #000);
  }

  &.btn-outline-primary {
    @include button-outline-variat($primary-color);
  }

  &.btn-outline-success {
    @include button-outline-variat($success-color);
  }

  &.btn-outline-info {
    @include button-outline-variat($info-color);
  }

  &.btn-outline-warning {
    @include button-outline-variat($warning-color);
  }

  &.btn-outline-error {
    @include button-outline-variat($error-color);
  }
}

// Botones sociales (share)
.btn-social {
  display: inline-block;

  a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.1rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1px;

    &.facebook {
      background-color: $facebook-color;
      border: 1px solid $facebook-color;
      padding: 0.2rem 1.1rem;
    }

    &.twitter {
      background-color: $twitter-color;
      border: 1px solid $twitter-color;
    }

    &.gplus {
      background-color: $gplus-color;
      border: 1px solid $gplus-color;
      padding: 0.2rem 0.5rem;
    }

    &.linkedin {
      background-color: $linkedin-color;
      border: 1px solid $linkedin-color;
    }

    &.pinterest {
      background-color: $pinterest-color;
      border: 1px solid $pinterest-color;
    }

    &.envelope {
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
    }

    &:hover {
      background-color: #fff;

      &.facebook {
        color: $facebook-color;
      }

      &.twitter {
        color: $twitter-color;
      }

      &.gplus {
        color: $gplus-color;
      }

      &.pinterest {
        color: $pinterest-color;
      }

      &.linkedin {
        color: $linkedin-color;
      }

      &.envelope {
        color: $primary-color;
      }
    }
  }
}
