// Waves primary
.waves-effect.waves-primary .waves-ripple {
  background-color: $primary-color;
}

// Añade 1rem en margin-top por si se montan que tengan un poco
// de separación.
.btn-group {
  a,
  button,
  input[type="submit"] {
    margin-top: 1rem;
  }
}

@media #{$small-and-down} {
  .btn-group {
    text-align: center;
  }
}

.btn {
  font-size: $button-font-size;
  text-transform: inherit !important;

  &.btn-capitalize {
    text-transform: capitalize;
  }

  &.btn-ucfirst {
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
      vertical-align: middle;
    }
  }

  &.btn-lower {
    text-transform: lowercase;
  }

  &.btn-unformat {
    text-transform: inherit;
  }

  &.btn-small {
    font-size: $button-font-size - 0.3rem;
    height: $button-height - 16px;
    line-height: 22px;
    padding: 0 0.5rem;
  }

  &.btn-large {
    @extend .btn-large;

    font-size: $button-font-size + 0.3rem;
  }

  // Bloque para cualquier tamaño.
  &.btn-block {
    display: block;
    width: 100%;
  }

  // Bloque para <= small.
  &.btn-small-block {
    @media #{$small-and-down} {
      display: block;
      width: 100%;
    }
  }

  // Bloque para <= medium.
  &.btn-medium-block {
    @media #{$medium-and-down} {
      display: block;
      width: 100%;
    }
  }

  &.btn-rounded {
    border-radius: 45px;
  }

  // ***************************************************************************

  &.btn-light {
    @include button-variat($light-color, color("grey", "darken-1"));
  }

  &.btn-primary {
    @include button-variat($secondary-color);
  }

  &.btn-success {
    @include button-variat($success-color);
  }

  &.btn-info {
    @include button-variat($info-color);
  }

  &.btn-warning {
    @include button-variat($warning-color);
  }

  &.btn-error {
    @include button-variat($error-color);
  }

  &.btn-red {
    @include button-variat(#f44336);
  }

  &.btn-pink {
    @include button-variat(#e91e63);
  }

  &.btn-purple {
    @include button-variat(#9c27b0);
  }

  &.btn-deep-purple {
    @include button-variat(#673ab7);
  }

  &.btn-indigo {
    @include button-variat(#3f51b5);
  }

  &.btn-blue {
    @include button-variat(#2196f3);
  }

  &.btn-light-blue {
    @include button-variat(#03a9f4);
  }

  &.btn-cyan {
    @include button-variat(#00bcd4);
  }

  &.btn-teal {
    @include button-variat(#009688);
  }

  &.btn-green {
    @include button-variat(#4caf50);
  }

  &.btn-light-green {
    @include button-variat(#8bc34a);
  }

  &.btn-lime {
    @include button-variat(#cddc39);
  }

  &.btn-yellow {
    @include button-variat(#ffeb3b, color("grey", "darken-1"));
  }

  &.btn-amber {
    @include button-variat(#ffc107);
  }

  &.btn-orange {
    @include button-variat(#ff9800);
  }

  &.btn-deep-orange {
    @include button-variat(#ff5722);
  }

  &.btn-brown {
    @include button-variat(#795548);
  }

  &.btn-grey {
    @include button-variat(#9e9e9e);
  }

  &.btn-blue-grey {
    @include button-variat(#607d8b);
  }

  &.btn-black {
    @include button-variat(#000000);
  }

  // ***************************************************************************

  &.btn-flat {
    @extend .btn-flat;

    color: color("grey", "darken-1");
  }

  &.btn-flat-light {
    @include button-flat-variat($light-color, color("grey", "darken-1"));
  }

  &.btn-flat-primary {
    @include button-flat-variat($secondary-color);
  }

  &.btn-flat-success {
    @include button-flat-variat($success-color);
  }

  &.btn-flat-info {
    @include button-flat-variat($info-color);
  }

  &.btn-flat-warning {
    @include button-flat-variat($warning-color);
  }

  &.btn-flat-error {
    @include button-flat-variat($error-color);
  }

  &.btn-flat-red {
    @include button-flat-variat(#f44336);
  }

  &.btn-flat-pink {
    @include button-flat-variat(#e91e63);
  }

  &.btn-flat-purple {
    @include button-flat-variat(#9c27b0);
  }

  &.btn-flat-deep-purple {
    @include button-flat-variat(#673ab7);
  }

  &.btn-flat-indigo {
    @include button-flat-variat(#3f51b5);
  }

  &.btn-flat-blue {
    @include button-flat-variat(#2196f3);
  }

  &.btn-flat-light-blue {
    @include button-flat-variat(#03a9f4);
  }

  &.btn-flat-cyan {
    @include button-flat-variat(#00bcd4);
  }

  &.btn-flat-teal {
    @include button-flat-variat(#009688);
  }

  &.btn-flat-green {
    @include button-flat-variat(#4caf50);
  }

  &.btn-flat-light-green {
    @include button-flat-variat(#8bc34a);
  }

  &.btn-flat-lime {
    @include button-flat-variat(#cddc39);
  }

  &.btn-flat-yellow {
    @include button-flat-variat(#ffeb3b, color("grey", "darken-1"));
  }

  &.btn-flat-amber {
    @include button-flat-variat(#ffc107);
  }

  &.btn-flat-orange {
    @include button-flat-variat(#ff9800);
  }

  &.btn-flat-deep-orange {
    @include button-flat-variat(#ff5722);
  }

  &.btn-flat-brown {
    @include button-flat-variat(#795548);
  }

  &.btn-flat-grey {
    @include button-flat-variat(#9e9e9e);
  }

  &.btn-flat-blue-grey {
    @include button-flat-variat(#607d8b);
  }

  &.btn-flat-black {
    @include button-flat-variat(#000000);
  }

  // *****************************************************************************

  &.btn-outline-light {
    @include button-outline-variat($light-color, color("grey", "darken-1"));
  }

  &.btn-outline-primary {
    @include button-outline-variat($primary-color);
  }

  &.btn-outline-success {
    @include button-outline-variat($success-color);
  }

  &.btn-outline-info {
    @include button-outline-variat($info-color);
  }

  &.btn-outline-warning {
    @include button-outline-variat($warning-color);
  }

  &.btn-outline-error {
    @include button-outline-variat($error-color);
  }

  &.btn-outline-red {
    @include button-outline-variat(#f44336);
  }

  &.btn-outline-pink {
    @include button-outline-variat(#e91e63);
  }

  &.btn-outline-purple {
    @include button-outline-variat(#9c27b0);
  }

  &.btn-outline-deep-purple {
    @include button-outline-variat(#673ab7);
  }

  &.btn-outline-indigo {
    @include button-outline-variat(#3f51b5);
  }

  &.btn-outline-blue {
    @include button-outline-variat(#2196f3);
  }

  &.btn-outline-light-blue {
    @include button-outline-variat(#03a9f4);
  }

  &.btn-outline-cyan {
    @include button-outline-variat(#00bcd4);
  }

  &.btn-outline-teal {
    @include button-outline-variat(#009688);
  }

  &.btn-outline-green {
    @include button-outline-variat(#4caf50);
  }

  &.btn-outline-light-green {
    @include button-outline-variat(#8bc34a);
  }

  &.btn-outline-lime {
    @include button-outline-variat(#cddc39);
  }

  &.btn-outline-yellow {
    @include button-outline-variat(#ffeb3b, color("grey", "darken-1"));
  }

  &.btn-outline-amber {
    @include button-outline-variat(#ffc107);
  }

  &.btn-outline-orange {
    @include button-outline-variat(#ff9800);
  }

  &.btn-outline-deep-orange {
    @include button-outline-variat(#ff5722);
  }

  &.btn-outline-brown {
    @include button-outline-variat(#795548);
  }

  &.btn-outline-grey {
    @include button-outline-variat(#9e9e9e);
  }

  &.btn-outline-blue-grey {
    @include button-outline-variat(#607d8b);
  }

  &.btn-outline-black {
    @include button-outline-variat(#000000);
  }
}

// Botones sociales (share)
.btn-social {
  display: inline-block;

  a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.1rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1px;

    &.facebook {
      background-color: $facebook-color;
      border: 1px solid $facebook-color;
      padding: 0.2rem 1.1rem;
    }

    &.twitter {
      background-color: $twitter-color;
      border: 1px solid $twitter-color;
    }

    &.gplus {
      background-color: $gplus-color;
      border: 1px solid $gplus-color;
      padding: 0.2rem 0.5rem;
    }

    &.linkedin {
      background-color: $linkedin-color;
      border: 1px solid $linkedin-color;
    }

    &.pinterest {
      background-color: $pinterest-color;
      border: 1px solid $pinterest-color;
    }

    &.envelope {
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
    }

    &:hover {
      background-color: transparent;

      &.facebook {
        color: $facebook-color;
      }

      &.twitter {
        color: $twitter-color;
      }

      &.gplus {
        color: $gplus-color;
      }

      &.pinterest {
        color: $pinterest-color;
      }

      &.linkedin {
        color: $linkedin-color;
      }

      &.envelope {
        color: $primary-color;
      }
    }
  }
}
