// Waves primary
.waves-effect.waves-primary .waves-ripple {
  background-color: $primary-color;
}

// Añade 1rem en margin-top por si se montan que tengan un poco
// de separación.
.btn-group {
  a,
  button,
  input[type="submit"] {
    margin-top: 1rem;
  }
}

@media #{$small-and-down} {
  .btn-group {
    text-align: center;
  }
}

.btn {
  // Capitaliza los botones
  &.btn-capitalize {
    text-transform: capitalize;
  }

  // Capitaliza la primera letra
  &.btn-ucfirst {
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  // En minúsculas
  &.btn-lower {
    text-transform: lowercase;
  }

  // Tamaños de los botones
  &.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;

    // Iconos en los botones small, los posiciona un poco mejor
    i {
      position: relative;
      top: -1px;
    }
  }

  &.btn-medium {
    height: 34px;
    line-height: 34px;
    padding: 0 0.5rem;

    // Iconos en los botones small, los posiciona un poco mejor
    i {
      position: relative;
    }
  }

  &.btn-primary {
    background-color: $primary-color-light;

    &:hover {
      background-color: $primary-color;
    }
  }

  &.btn-success {
    background-color: $success-color;

    &:hover {
      background-color: darken($success-color, 10%);
    }
  }

  &.btn-info {
    background-color: $info-color;

    &:hover {
      background-color: darken($info-color, 10%);
    }
  }

  &.btn-warning {
    background-color: $warning-color;

    &:hover {
      background-color: darken($warning-color, 10%);
    }
  }

  &.btn-error {
    background-color: $error-color;

    &:hover {
      background-color: darken($error-color, 10%);
    }
  }

  // primary color para btn-flat
  &.btn-flat-primary {
    @extend .btn-flat;

    background-color: $primary-color-light;
    color: #fff;

    &:hover {
      background-color: $primary-color;
    }
  }

  // success color para btn-flat
  &.btn-flat-success {
    @extend .btn-flat;

    background-color: $success-color;
    color: #fff;

    &:hover {
      background-color: darken($success-color, 10%);
    }
  }

  // success info para btn-flat
  &.btn-flat-info {
    @extend .btn-flat;

    background-color: $info-color;
    color: #fff;

    &:hover {
      background-color: darken($info-color, 10%);
    }
  }

  // success warning para btn-flat
  &.btn-flat-warning {
    @extend .btn-flat;

    background-color: $warning-color;
    color: #fff;

    &:hover {
      background-color: darken($warning-color, 10%);
    }
  }

  // success error para btn-flat
  &.btn-flat-error {
    @extend .btn-flat;

    background-color: $error-color;
    color: #fff;

    &:hover {
      background-color: darken($error-color, 10%);
    }
  }
}

// Botones sociales (share)
.btn-social {
  display: inline-block;

  a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.1rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1px;

    &.facebook {
      background-color: $facebook-color;
      border: 1px solid $facebook-color;
      padding: 0.2rem 1.1rem;
    }

    &.twitter {
      background-color: $twitter-color;
      border: 1px solid $twitter-color;
    }

    &.gplus {
      background-color: $gplus-color;
      border: 1px solid $gplus-color;
      padding: 0.2rem 0.5rem;
    }

    &.linkedin {
      background-color: $linkedin-color;
      border: 1px solid $linkedin-color;
    }

    &.pinterest {
      background-color: $pinterest-color;
      border: 1px solid $pinterest-color;
    }

    &.envelope {
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
    }

    &:hover {
      background-color: transparent;

      &.facebook {
        color: $facebook-color;
      }

      &.twitter {
        color: $twitter-color;
      }

      &.gplus {
        color: $gplus-color;
      }

      &.pinterest {
        color: $pinterest-color;
      }

      &.linkedin {
        color: $linkedin-color;
      }

      &.envelope {
        color: $primary-color;
      }
    }
  }
}

/******************************************************************************
 * Alternativa a los botones de materialize-css.
 */
.button {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.2rem;
  padding: 0.6rem 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    border-style: solid;
    border-width: 1px;
    color: #fff;
  }

  // Rounded (button button-rounded)

  &.button-rounded {
    border-radius: 30px;
  }

  // Block (button button-block)

  &.button-block {
    display: block;
    width: 100%;
  }

  // Small (button button-small)

  &.button-small {
    font-size: 0.9rem;
    padding: 0.2rem 0.6rem;
  }

  // Large (button button-small)

  &.button-large {
    font-size: 1.4rem;
  }

  // Flat (button button-flat)

  &.button-flat {
    border: none;

    &:hover {
      background-color: color("grey", "lighten-2") !important;
      color: #000 !important;
    }
  }

  // Disabled (button button-disabled)

  &.button-disabled {
    pointer-events: none;
    background-color: $button-disabled-background !important;
    color: $button-disabled-color !important;
    border: none;
  }

  // Primary (button button-primary)

  &.button-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  // Success (button button-success)

  &.button-success {
    background-color: $success-color;
    border-color: $success-color;
    color: #fff;

    &:hover {
      background-color: darken($success-color, 10%);
    }
  }

  // Warning (button button-warning)

  &.button-warning {
    background-color: $warning-color;
    border-color: $warning-color;
    color: #fff;

    &:hover {
      background-color: darken($warning-color, 10%);
    }
  }

  // Info (button button-info)

  &.button-info {
    background-color: $info-color;
    border-color: $info-color;
    color: #fff;

    &:hover {
      background-color: darken($info-color, 10%);
    }
  }

  // Error (button button-error)

  &.button-error {
    background-color: $error-color;
    border-color: $error-color;
    color: #fff;

    &:hover {
      background-color: darken($error-color, 10%);
    }
  }

  // Outline primary (button outline-primary)

  &.outline-primary {
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color;
    }
  }

  // Outline success (button outline-success)

  &.outline-success {
    border-color: $success-color;

    &:hover {
      background-color: $success-color;
    }
  }

  // Outline info (button outline-info)

  &.outline-info {
    border-color: $info-color;

    &:hover {
      background-color: $info-color;
    }
  }

  // Outline warning (button outline-warning)

  &.outline-warning {
    border-color: $warning-color;

    &:hover {
      background-color: $warning-color;
    }
  }

  // Outline error (button outline-error)

  &.outline-error {
    border-color: $error-color;

    &:hover {
      background-color: $error-color;
    }
  }
}
