.card-flat {
  @extend .card-panel;

  box-shadow: none;
  border: 1px solid color("grey", "lighten-3");

  &.card-flat-primary {
    border: 1px solid lighten($primary-color, 35%);
    background-color: $secondary-primary-color;
  }

  &.card-flat-success {
    border: 1px solid lighten($success-color, 35%);
    background-color: $secondary-success-color;
  }

  &.card-flat-info {
    border: 1px solid lighten($info-color, 35%);
    background-color: $secondary-info-color;
  }

  &.card-flat-warning {
    border: 1px solid lighten($warning-color, 35%);
    background-color: $secondary-warning-color;
  }

  &.card-flat-error {
    border: 1px solid lighten($error-color, 35%);
    background-color: $secondary-error-color;
  }
}

@media #{$medium-and-down} {
  // En small, se reducen los margins y paddins.
  .col {
    padding: 0.1rem !important;

    // Importante, o en small tendrá scroll lateral.
    // @override: src/static/bower_components/Materialize/sass/components/forms/_input-fields.scss
    // linea 108 aprox.
    .validate + label {
      width: auto !important;
    }

    .input-field.col label {
      left: 0;
    }

    .card-panel {
      padding: 10px;
      margin: 0.5rem 0;
    }
  }

  .card-flat {
    margin: 0.8rem auto;
  }
}
