// Posición de los Toast
#toast-container {
  @media #{$large-and-up} {
    min-width: 100%;
    right: 2%;
    top: 15%;
  }

  @media #{$medium-and-down} {
    min-width: 98%;
    left: -1%;
  }
}

// Mensajes de alertas (toast) (messages.info|warning|etc)
.toast {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px;
  padding: 15px 15px 15px 40px;
  position: relative;
  font-weight: 400;

  strong {
    font-weight: bold;
  }

  &::before {
    color: black;
    font-family: "Material Icons";
    font-size: 2rem;
    left: 6px;
    opacity: 0.4;
    position: absolute;
    top: 15px;
  }

  &.toast-error {
    background-color: $error-color;

    &::before {
      content: "\E000";
    }
  }

  &.toast-info {
    background-color: $info-color;

    &::before {
      content: "\E88E";
    }
  }

  &.toast-warning {
    background-color: $warning-color;

    &::before {
      content: "\E002";
    }
  }

  &.toast-success {
    background-color: $success-color;

    &::before {
      content: "\E86C";
    }
  }
}

// X para cerrar.
#toast-container .toast {
  cursor: pointer;
}

#toast-container .toast::after {
  font-family: 'Material Icons';
  content: "close";
  -webkit-font-feature-settings: 'liga';
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: 300;
  float: right;
  padding-left: 1rem;
}
