// Font font-awesome.
$fa-font-path: "../fonts/font-awesome/" !default;

// Font fonts Roboto.
$roboto-font-path: "../fonts/roboto/" !default;

// Font Materialize Icons
$materializeicons-font-path: "../fonts/materialize/" !default;

// Colors.
$primary-color: color("blue-grey", "darken-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
$secondary-color: $primary-color-light !default;
$light-color: color("grey", "lighten-3");

// Alertas
$success-color: color("green", "base") !default;
$info-color: color("blue", "base") !default;
$error-color: color("red", "base") !default;
$warning-color: color("orange", "base") !default;

// Colores de alertas alternativos.
$secondary-primary-color: lighten($primary-color, 60%);
$secondary-success-color: lighten($success-color, 45%);
$secondary-info-color: lighten($info-color, 42%);
$secondary-warning-color: lighten($warning-color, 45%);
$secondary-error-color: lighten($error-color, 40%);

// Links
$link-color: color("light-blue", "darken-1") !default;

// Buttons
$button-font-size: 1.1rem !default;
$button-height: 40px !default;

// Social colors.
// https://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
$facebook-color: rgb(59, 89, 152);
$twitter-color: rgb(85, 172, 238);
$gplus-color: rgb(221, 75, 57);
$pinterest-color: rgb(203, 32, 39);
$linkedin-color: rgb(0, 123, 181);
