// Mensajes de alertas (messages.info|warning|etc)
.alert {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px;
  padding: 15px 15px 15px 40px;
  position: relative;

  strong {
    font-weight: bold;
  }

  &::before {
    color: black;
    font-family: "Material Icons";
    font-size: 2rem;
    left: 6px;
    opacity: 0.4;
    position: absolute;
    top: 5px;
  }

  &.alert-error {
    background-color: $error-color;

    &::before {
      content: "\E000";
    }
  }

  &.alert-info {
    background-color: $info-color;

    a {
      color: $primary-color;
    }

    &::before {
      content: "\E88E";
    }
  }

  &.alert-warning {
    background-color: $warning-color;

    &::before {
      content: "\E002";
    }
  }

  &.alert-success {
    background-color: $success-color;

    &::before {
      content: "\E86C";
    }
  }

  // X para cerrar los alerts.
  .close-alert {
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 1.5em;
    padding: 4px;
    position: relative;
    top: -8px;

    &:hover {
      color: grey;
    }
  }
}
