// Badges en sidenav
.side-nav li {
  display: block;
  width: 100%;

  a {
    span {
      &.badge {
        margin-top: 14px;
      }
    }
  }
}

// Ajustar tamaño tipografía navbar en small
.brand-logo {
  font-size: 1.8rem !important;

  .navbar-logo {
    position: relative;
    right: -5px;
    top: -5px;
    width: 40px;
  }
}

@media #{$small-and-down} {
  .brand-logo {
    font-size: 1.2rem !important;

    .navbar-logo {
      margin-right: 5px;
      width: 25px;
    }
  }
}

// Campo del buscador en navbar.
#navbar-search-field {
  @media #{$small-and-down} {
    #q {
      padding-left: 0.3rem;
      width: 100%;
    }

    .navbar-search-field-icon {
      display: none;
    }
  }
}
