{% extends "base.html" %}
{% load utils_tags %}

{% block meta_description %}Política de cookies{% endblock meta_description %}
{% block head_title %}- Política de cookies{% endblock head_title %}

{% block content %}
  <section class="jumbotron">
    <h1>Política de cookies en {{ SITE.name }}</h1>
  </section>

  <section class="container">
    <section class="row">
      <div class="col-xs12 col-md-10 offset-md-1">
        {% markdown template_md safe=True %}
      </div>
    </section>
  </section>
{% endblock content %}
