.badge {
  // Ajusta un poquito mejor los badges.
  padding-top: 0.34rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  // Elimina la decoración en los links dentro del badge.
  a {
    text-decoration: none;
  }
}
