// Botones sociales (share)
.btn-social {
  display: inline-block;

  a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.1rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1px;

    &.facebook {
      background-color: $facebook-color;
      border: 1px solid $facebook-color;
      padding: 0.2rem 1.1rem;
    }

    &.twitter {
      background-color: $twitter-color;
      border: 1px solid $twitter-color;
    }

    &.gplus {
      background-color: $gplus-color;
      border: 1px solid $gplus-color;
      padding: 0.2rem 0.5rem;
    }

    &.linkedin {
      background-color: $linkedin-color;
      border: 1px solid $linkedin-color;
    }

    &.pinterest {
      background-color: $pinterest-color;
      border: 1px solid $pinterest-color;
    }

    &.envelope {
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
    }

    &:hover {
      background-color: transparent;

      &.facebook {
        color: $facebook-color;
      }

      &.twitter {
        color: $twitter-color;
      }

      &.gplus {
        color: $gplus-color;
      }

      &.pinterest {
        color: $pinterest-color;
      }

      &.linkedin {
        color: $linkedin-color;
      }

      &.envelope {
        color: $primary-color;
      }
    }
  }
}
