.footer {
  background-color: $brand-secondary;
  padding: 1rem;
  margin-top: 1rem;
  color: $gray-lighter;

  a {
    color: $gray-lighter;
    text-decoration: none;

    &:hover {
      color: darken($brand-primary, 5%);
    }
  }
}
