// Headers
h1 { font-size: 2.2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

code {
  background-color: color("grey", "lighten-4");
  color: color("red", "lighten-1");
  font-size: 0.9rem;
  padding: 0.2rem;
}

.text-header {
  border-bottom: 1px solid color("grey", "lighten-3");
  padding-bottom: 0.5rem;
  color: $primary-color;
}

.text-small {
  font-size: 0.8rem;
}

.text-middle {
  vertical-align: middle !important;
}
