{% extends 'base.html' %}
{% load i18n %}
{% load templateforms %}

{% block meta_description %}{% trans 'Actualizar email de' %} {{ user.username }}{% endblock meta_description %}
{% block head_title %}- {% trans 'Actualizar email de' %} {{ user.username }}{% endblock head_title %}

{% block content %}
  <section class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card-panel">
        <h1 class="text-header">{% trans 'Actualizar email de' %} {{ user.username }}</h1>

        <form method="post" action="">
          {% csrf_token %}
          {% form form %}

          <div class="btn-group">
            <button class="btn waves-effect green" type="submit">{% trans 'Actualizar' %}</button>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock content %}

