{% extends "base.html" %}
{% load i18n %}

{% block meta_description %}{{ title }}{% endblock meta_description %}
{% block head_title %}- {{ title }}{% endblock head_title %}

{% block content %}
  <section class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card-panel">
        <h1 class="text-header">{{ title }}</h1>

        <p>{% trans "Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión." %}</p>
        <div>
          <a class="btn waves-effect" href="{% url 'authentication:login' %}">{% trans "Iniciar sesión" %}</a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
