{% extends 'base.html' %}
{% load i18n %}
{% load templateforms %}

{% block meta_description %}{% trans 'Nuevo registro en' %} {{ SITE.name }}{% endblock meta_description %}
{% block head_title %}- {% trans 'Registro' %}{% endblock head_title %}

{% block content %}
  <section class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card-panel">
        <h1 class="text-header">{% trans 'Registro nueva cuenta' %}</h1>

        <form method="post" action="">
          {% csrf_token %}
          {% form form %}

          <button class="btn waves-effect margin-top" type="submit">{% trans 'Registro' %}</button>
          <a class="btn waves-effect margin-top" href="{% url 'authentication:login' %}">
            {% trans '¿Tienes una cuenta?' %}
          </a>
        </form>
      </div>
    </div>
  </section>
{% endblock content %}
