{% extends 'base.html' %}
{% load i18n %}

{% block meta_description %}{% trans 'Error cambio de Email' %}{% endblock meta_description %}
{% block head_title %}- {% trans 'Error cambio de Email' %}{% endblock head_title %}

{% block content %}
  <section class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card-panel">
        <h1 class="text-header">{% trans 'Error cambio de Email' %}</h1>

        {% url 'authentication:email_update' as email_update  %}
        {% url 'contact:contact' as contact  %}
        {% blocktrans %}
          <p>La validación para cambiar el email no existe o ha caducado, prueba a hacer una
            nueva <a href="{{ email_update }}">solicitud</a>.</p>

          <p>Si el problema persiste, por favor ponte en <a href="{{ contact }}">contacto</a> con nosotros.</p>
        {% endblocktrans %}
      </div>
    </div>
  </section>
{% endblock content %}
