{% extends "base.html" %}

{% block meta_description %}Cuenta creada con éxito{% endblock meta_description %}
{% block head_title %}- Cuenta creada con éxito{% endblock head_title %}

{% block content %}
  <section class="jumbotron">
    <h1>Cuenta creada con éxito</h1>
  </section>

  <section class="row">
    <div class="col-xs-12 col-lg-8 offset-lg-2">
      <p>La cuenta se ha creado con éxito, ahora ya puedes
        <a href="{% url 'authentication:login' %}">Iniciar sesión</a></p>
    </div>
  </section>
{% endblock content %}
